@charset "UTF-8";
/* Предопределенные стили сайта */
/* Затемнение блоков категорий */
.products-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.products-cart-left {
  max-width: 650px;
  width: 100%;
}

.products-cart-right {
  max-width: 360px;
  width: 100%;
}

.products-cart-listing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  list-style-type: none;
}

.products-cart-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 0px solid #6df174;
  background-color: #fff;
  position: relative;
  height: 306px;
  margin-bottom: 40px;
  -webkit-filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
          filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.products-cart-item-img {
  height: 100%;
}

.products-cart-item-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin: 28px 22px 0 31px;
  position: relative;
}

.products-cart-item-header {
  padding-bottom: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  word-spacing: 10px;
  color: #222222;
}

.products-cart-item .property {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 260px;
  width: 100%;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}

.products-cart-item .property .quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products-cart-item .property .quantity input {
  max-width: 44px;
  width: 100%;
  margin-left: 30px;
  text-align: center;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #656565;
  border: 1px solid #eaeaea;
}

.products-cart-item .property span {
  margin-bottom: 6px;
}

.products-cart-item .close-btn {
  display: block;
  width: 18px;
  height: 18px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background-color: transparent;
}

.products-cart-item .close-btn:hover svg {
  fill: #6f6e6e21;
}

.products-cart-item .close-btn:active svg {
  fill: #b7b6b6;
}

.products-cart-item .close-btn svg {
  fill: #6f6e6e;
}

.products-cart .checkout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 360px;
  width: 100%;
}

.products-cart .checkout-adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-bottom: 57px;
}

.products-cart .checkout-adress-header {
  max-width: 360px;
  width: 100%;
  margin-top: 15px;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.products-cart .checkout-adress-input {
  margin-top: 20px;
  height: 45px;
  padding-left: 17px;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #222222;
}

.products-cart .checkout-adress-input-town::-webkit-input-placeholder {
  color: #b1b1b1;
}

.products-cart .checkout-adress-input-town:-ms-input-placeholder {
  color: #b1b1b1;
}

.products-cart .checkout-adress-input-town::-ms-input-placeholder {
  color: #b1b1b1;
}

.products-cart .checkout-adress-input-town::placeholder {
  color: #b1b1b1;
}

.products-cart .checkout-adress-input-quote::-webkit-input-placeholder {
  text-transform: uppercase;
  color: #4a4a4a;
  font-size: 11px;
  line-height: 13px;
  color: #4a4a4a;
}

.products-cart .checkout-adress-input-quote:-ms-input-placeholder {
  text-transform: uppercase;
  color: #4a4a4a;
  font-size: 11px;
  line-height: 13px;
  color: #4a4a4a;
}

.products-cart .checkout-adress-input-quote::-ms-input-placeholder {
  text-transform: uppercase;
  color: #4a4a4a;
  font-size: 11px;
  line-height: 13px;
  color: #4a4a4a;
}

.products-cart .checkout-adress-input-quote::placeholder {
  text-transform: uppercase;
  color: #4a4a4a;
  font-size: 11px;
  line-height: 13px;
  color: #4a4a4a;
}

.products-cart .checkout-adress-input-quote {
  max-width: 100px;
  width: 100%;
  height: 35px;
}

.products-cart .checkout-confirm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding: 40px;
  background: #f5f3f3;
  text-align: right;
}

.products-cart .checkout-confirm .txt-subtotal {
  margin-bottom: 12px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  color: #4a4a4a;
}

.products-cart .checkout-confirm .txt-subtotal-price {
  padding-left: 25px;
}

.products-cart .checkout-confirm .txt-grandtotal {
  margin-bottom: 12px;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.products-cart .checkout-confirm .txt-grandtotal-price {
  padding-left: 25px;
}

.products-cart .checkout-confirm-btn {
  width: 100%;
  height: 50px;
  display: block;
  border: 0px;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.products-cart .checkout-confirm-btn:hover {
  color: #000;
}

.products-cart .checkout-confirm-btn:active {
  background-color: #f5f3f3;
  border: 1px solid #f16d7f;
}

.products-cart .checkout-confirm .txt-grandtotal::after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  margin-top: 21px;
  margin-bottom: 5px;
  background: #e2e2e2;
}

.products-cart-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.products-cart-btn {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  padding: 20px 40px;
  border: 1px solid #a4a4a4;
  text-align: center;
  word-break: break-all;
  text-decoration: none;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.products-cart-btn:hover {
  background-color: #f16d7f;
  color: #fff;
}

.products-cart-btn:active {
  background-color: #fff;
  border: 1px solid #a4a4a4;
  color: #f16d7f;
}
/*# sourceMappingURL=cart.css.map */