$border-width: 0px;
$border-width2: 0px;
$border-color: #6df174;
$border-color2: #f16de6;
$border: $border-width solid $border-color;
$border2: $border-width2 solid $border-color2;

/* Предопределенные стили сайта */
$opacity: 0.7; /* Затемнение блоков категорий */
$brend_color: #f16d7f;
$brend_color2: #6f6e6e;
